/**
 * Custom styles
 */

.custom-file-input {
    cursor: pointer;
}

.show-image {
    position: relative;
}

.close-button {
    position: absolute;
    right: 6px;
    top: 3px;
}

#field-form {
    display: none;
}

/* loader */
.lds-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: fixed;
    left: 47%;
    top: 50%;
    z-index: 1000000;
    overflow: hidden;
    opacity: 1;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #4765FF;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #4765FF transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#background {
    display: flex;
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .625em;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, .4);
}

.hidden {
    display: none;
}

.field-area,
#field-form {
    background-color: #dce0fd;
}

.roll-up-buttons .minus svg,
.roll-up-buttons .plus svg {
    cursor: pointer;
}

.field-area:last-child {
    margin-bottom: 24px !important;
}
